# scikit-learn Notebook 1 of 2- Aaron Donnelly (G00299531)

***

## Overview

#### scikit-learn is a python library that contains many tools that can be used for predictive data analysis and machine learning[1]. scikit-learn was a project started by David Cournapeau during a Google Summer of Code project[2]. sci-kit learn contains many different algorithms that are very user friendly and require very little adjusting to me the used for an individuals specific needs. When it comes in machine learning there are two types of algroithms used. These are 'Supervised' and 'Unsupervised' algorithms.

### Supervised Learning

#### Supervised alogorithms with regards to machine learning can be described as 'a learning approach thats defined by its use of labeled datasets'. These algorithms use these labelled datasets to 'train' otherwise known as 'supervise' the algorithm into making accurate predictions [3]. The two types of learning associated with supervised are Classification and Regression.

### Unsupervised Learning

#### Unsupervised algorithms are algorithms that do not used labeled datasets. Data that enters an unsupervised algorithm is completely unlabelled.  Due to the fact that the training data provided to an unsupervised model is unlabelled it is impossible to measure the model accuracy. Types on unsupervised algorithms are 'Clustering', 'Association' and 'Dimensionality reduction'[3].

#### In this notebook we will be looking at three different scikit-learn algorithms. These are Classification, Regression and Clustering.

## Classification

#### The first scikit-learn algorithm we will be looking at is

In [10]:
# Prepare the data. We start by importing pandas to read a dataframe [5]. The data I will be using for this demonstration is the wine dataset contained in sklearn.
import pandas as pd
# Numpy will be imported for later [6]
import numpy as np
# We will import the dataset from the data folder in the repository [7]
df = pd.read_csv("data/winequality-white.csv", sep= ";")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [11]:
# create a variable x for the features matrix.
x= df.drop("quality", axis= 1)
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8

In [12]:
# create y which is going to be the label for this dataset.
y= df["quality"]
y

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

#### Now that the data is prepared an appropriate algorithm for the problem must be selected. For this dataset we will be using a classification algorithm.

In [15]:
# The algorithm I chose to use for this was the RandomForestClassifier [8].
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#### Now that we have selected an appropriate classification algorithm, we need to train and test the data from the dataset.

In [16]:
#In order to train and test, the data from the dataset will need to be split into training data and testing data. We do this by
# importing the train_test_split module from sklearn.model_selection.
from sklearn.model_selection import train_test_split

In [29]:
# We now divide the data into test and train data for both the features data and the label data. Setting the testsize to 0.2
# means that 80% of the data will be used to train the algorithm and the remaining data (20%) will be used to test the algorithm after training.
x_train,x_test,y_train,y_test= train_test_split(x, y, test_size= 0.1)

In [30]:
# We now need to fit the training data. Semicolon removes warning message
clf.fit(x_train, y_train);

In [31]:
# Now a prediction can be made on the test data. This code uses the remaning test data to predict what the
# y label should be based on the features.
y_predict = clf.predict(x_test)
y_predict

array([5, 7, 5, 7, 5, 8, 7, 6, 6, 6, 5, 5, 7, 5, 8, 5, 5, 6, 6, 6, 7, 6,
       6, 6, 6, 6, 7, 5, 5, 6, 7, 5, 5, 6, 7, 5, 6, 5, 5, 6, 5, 5, 6, 5,
       6, 6, 6, 6, 6, 6, 5, 7, 6, 5, 6, 5, 6, 7, 5, 6, 6, 6, 6, 6, 6, 5,
       6, 6, 5, 5, 6, 5, 6, 6, 7, 7, 6, 6, 5, 5, 6, 6, 5, 7, 7, 6, 6, 6,
       6, 6, 6, 6, 6, 7, 5, 7, 5, 5, 6, 6, 4, 6, 6, 6, 6, 6, 7, 6, 5, 6,
       7, 6, 5, 6, 6, 6, 5, 6, 6, 5, 5, 6, 6, 6, 7, 5, 6, 6, 5, 7, 5, 5,
       7, 6, 5, 5, 7, 6, 6, 5, 6, 6, 6, 6, 7, 6, 6, 4, 6, 7, 6, 5, 6, 6,
       6, 7, 7, 7, 6, 6, 5, 5, 6, 5, 7, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6,
       6, 5, 6, 6, 6, 5, 6, 7, 6, 6, 6, 5, 6, 7, 8, 6, 6, 5, 6, 5, 5, 5,
       6, 7, 5, 6, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 5, 7,
       4, 5, 6, 6, 6, 5, 7, 6, 5, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 7, 7, 6,
       7, 5, 6, 8, 6, 5, 6, 5, 7, 6, 6, 5, 6, 5, 6, 5, 5, 7, 5, 6, 6, 6,
       6, 6, 7, 6, 6, 5, 5, 6, 6, 7, 5, 6, 5, 6, 5, 5, 5, 5, 6, 6, 7, 5,
       6, 8, 7, 6, 6, 6, 7, 5, 6, 7, 5, 6, 5, 6, 6, 7, 6, 5, 6, 6, 6, 6,
       6, 7, 6, 5, 6, 6, 6, 7, 5, 5, 6, 6, 6, 5, 7, 6, 6, 6, 5, 6, 5, 6,
       7, 6, 5, 6, 6, 5, 6, 6, 5, 5, 7, 5, 6, 7, 6, 6, 6, 5, 5, 5, 6, 5,
       7, 5, 6, 6, 5, 5, 5, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 5, 4, 5, 5, 7,
       6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6, 5, 5, 6, 6, 5, 6, 8, 5, 5,
       6, 6, 6, 6, 5, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6,
       5, 5, 7, 6, 5, 6, 5, 7, 5, 5, 6, 5, 5, 6, 7, 7, 6, 6, 6, 6, 7, 6,
       6, 5, 5, 7, 6, 5, 7, 5, 7, 5, 5, 6, 6, 6, 5, 7, 7, 5, 6, 7, 5, 6,
       5, 8, 6, 5, 7, 5, 5, 6, 5, 6, 6, 6, 6, 5, 6, 4, 7, 5, 4, 7, 5, 6,
       6, 5, 5, 5, 6, 5], dtype=int64)

In [32]:
# We can no determine just how good the algorithm is by evaluating the test results.
clf.score(x_train, y_train)

0.9897912885662432

In [33]:
# The below shows that 66% of the time the algorithm could predict the quality of the wine based off the features.
clf.score(x_test, y_test)

0.6612244897959184

## Regression

#### The second type of algorithm from the scikit-learn library we will be looking at is Regression. Regression is also a type of supervised machine learning. The goal of a regression algorithm is to plot a best fit line to data in order to predict the value of the 'dependant variable for individuals for whom some information concerning the explanatory variable is available'[9] . Regression is often used in the business sector in order to carry out accurate forcasting and optimization. There are various types of Regression possible, but the one we will be looking at is Linear Regression.

In [1]:
#The data set I will be using for the algorithm is a housing dataset from Ames, Iowa [10].
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #[11]
housing = pd.read_csv("data/housing.csv")
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,78100,INLAND
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,77100,INLAND
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,92300,INLAND
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,84700,INLAND
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,89400,INLAND

In [14]:
# Similar to the Classification algorithm we will start by creating the features and label datasets. x will again be
# the features dataset and y the labels.
x= housing.drop("median_house_value", axis= 1)
x

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
ocean_proximity        object
dtype: object

In [17]:
# I now need to convert the ocean_proximity into a datatype that can be used by the machine learning algorithm.
# I will do this using the LabelEncoder from the sklearn.preprocessing library[12].
from sklearn.preprocessing import LabelEncoder

In [21]:
le = LabelEncoder()
label = le.fit_transform(x["ocean_proximity"])
label

array([3, 3, 3, ..., 1, 1, 1])

In [33]:
# I will now drop the ocean_proximity column in order to replace it with the LabelEncoder column.
x1= x.drop("ocean_proximity", axis= 1)
# I will now append the new column to the dataset and give it its original name
x1["ocean_proximity"]= label
# I will now rename this dataset x to keep it tidyier.
x= x1
x.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
ocean_proximity         int32
dtype: object

In [3]:
# We now create the y dataset which in this case will be the SalePrice.
y= housing["median_house_value"]
y

0        452600
1        358500
2        352100
3        341300
4        342200
          ...
20635     78100
20636     77100
20637     92300
20638     84700
20639     89400
Name: median_house_value, Length: 20640, dtype: int64

In [26]:
# Again just like the classification algorithm the data will be split into test and train groups
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size= 0.2)

In [27]:
# We now need to fit the training data to the Regression model. The regression model I decided to use here is an 
# EnsembleReregessor algorithm known as RandomForestRegressor[13]
from sklearn.ensemble import RandomForestRegressor

In [35]:
#We can now train the model using the test data.

model= RandomForestRegressor()
model.fit(x_train,y_train);

C:\Users\Owner\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [36]:
model.score(x_test, y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

## Clustering

#### The next type of Machine learning algorithm i will be using will be Clustering. Clustering is one of the unsupervised machine learning algorithms and works by